@use '@/styles/mixin/reponsive' as *;

.inner-appointment-container {
    width: 100%;
    .box {
        overflow-x: hidden;
        margin: 50px 15vw;
        h1 {
            color: #044cc8;
        }
        .button-container {
            margin: 30px 0;
            display: flex;
            //flex-direction: column;
            gap: 5px;
            button {
                padding: 20px;
                border-radius: 10px;
                border: none;

                &:hover {
                    background: #044cc8;
                    color: #fff;
                    transition: 200ms all;
                    cursor: pointer;
                }
            }
            .active {
                background: #044cc8;
                color: #fff;
            }
        }
    }
}

@include respond-to(sm) {
    .list-appointment-container {
        .box {
            margin: 50px 5vw;
        }
    }
}

@include respond-to(md) {
    .inner-appointment-container {
        .box {
            margin: 50px 8vw;
        }
    }
}

@include respond-to(lg) {
    .inner-appointment-container {
        .box {
            margin: 50px 11vw;
        }
    }
}

@include respond-to(xs) {
    .inner-appointment-container {
        .box {
            .button-container {
                display: flex;
                flex-direction: column;
                width: 50%;
            }
        }
    }
}
