.header-container {
    width: 100vw;
    height: 60px;
    background: #0388b4;
    display: flex;
    img {
        width: 3%;
        margin: 0 20px;
    }
    .header-content {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 0 30px 0 0;
        color: white;

        span {
            cursor: pointer;
        }
    }
}
