.header-student-container {
    width: 100vw;
    height: 60px;
    background: #0388b4;
    display: flex;
    img {
        width: 3%;
        margin: 0 20px;
    }
    .header-student-content {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 0 10px 0 0;
        color: white;
        .content-left {
            display: flex;
            gap: 20px;
            p {
                cursor: pointer;
            }
        }
        .content-right {
            img {
                width: 40%;
                cursor: pointer;
            }
        }
    }
}
