.form-login-container {
  height: calc(100vh - 60px);
  background: #F7F6FA;
  display: flex;
  align-items: center;

  .box {
    width: 550px;
    height: 520px;
    border-radius: 20px;
    background: #fff;
    margin: auto;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    //align-items: center;

    h1{
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      margin: 50px 10px 20px 10px;
    }
    p {
      text-align: center;
      color: #545454;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 20px;
    }

    .input-container{
      display: flex;
      flex-direction: column;
      width: 440px;
      margin: 20px auto;
      //margin-top: 20px;
      label {
        margin-bottom: 10px;
      }
      input {
        border: 1px solid #E6E6E6;
        height: 50px;
        border-radius: 10px;
        //margin: 0 auto;
        padding-left: 20px;
        &:focus{
          outline: none;
          border: 1px solid #044CC8;
        }
      }
    }

  }
}