@use '@/styles/mixin/reponsive' as *;

.history-container {
    background-color: #fff;
    display: flex;
    .tab {
        background-color: #f7f6fa;
        margin: 30px;
        padding: 30px 20px;
        border-radius: 10px;
        width: 22vw;
        height: fit-content;
        h2 {
            margin: 0 0 20px 10px;
        }
        ul {
            list-style: none;
            .active {
                font-weight: bold;
            }
            li {
                display: flex;
                align-items: center;
                cursor: pointer;
                img {
                    padding: 5px;
                }
            }
        }
    }
}

@include respond-to(md) {
    .history-container {
        display: block;
        .tab {
            width: 50vw;
        }
    }
}
