.history-container {
  background-color: #fff;
  display: flex;
  .tab {
    background-color: #F7F6FA;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
    width: 270px;
    ul {
      list-style: none;
      .active {
        font-weight: bold;
      }
      li {
        display: flex;
        align-items: center;
        img {
          padding: 5px
        }
      }
    }
  }
}