.course-component-container {
    .group-document {
        border-radius: 20px;
        border: 1px solid #dee2e6;
        margin: 30px 0;
        h3 {
            margin: 30px;
            font-size: 25px;
        }
        ul {
            list-style: none;
            margin: 30px;

            li {
                padding: 20px 0;
                border-bottom: 1px solid #dee2e6;

                &:hover {
                    color: #044cc8;
                    cursor: pointer;
                }
            }
        }
    }
}
