.list-history-container {
  border-radius: 20px;
  background-color: #F7F6FA;
  margin: 30px 0;
  h1 {
    font-size: 26px;
    font-weight: bold;
    margin: 30px;
  }

  table{
    th {
      font-size: 13px;
      font-weight: 400;
      color: #B5B7C0;
      padding: 10px;
    }
    td {
      font-size: 13px;
      font-weight: 400;
      color: #292D32;
      padding: 10px 30px;
      border-bottom: 1px solid #E1E1E1;
    }
    tr {
      &:last-child td {
        border: none;
      }
    }
    tbody {
      tr {
        &:hover {
          background-color: #f5f8ff;
          cursor: pointer;
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}