.pre-login-container {
  height: calc(100vh - 60px);
  background: #F7F6FA;
  display: flex;
  align-items: center;

  .box {
    width: 550px;
    height: 520px;
    border-radius: 20px;
    background: #fff;
    margin: auto;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      margin: 30px;
    }
    p {
      color: #044CC8;
      font-weight: 600;
      font-size: 25px;
      padding-bottom: 10px;
    }
    &__login {
      border: 1px solid #E8E8E8;
      padding: 10px;
      width: 400px;
      text-align: center;
      border-radius: 6px;
      margin-bottom: 10px;
    }
  }
}